/* ref: https://fontawesome.com/v6.0/docs/web/style/lists */
/* ********************************************************************** */
/* *****                                                            ***** */
/* *****                       PREVIEW: LISTS                       ***** */
/* *****                                                            ***** */
/* ********************************************************************** */

/* edit mode: collapse indicator vertical centering */
.CodeMirror-gutter-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* edit mode: no additional padding in lists */
.cm-s-obsidian .HyperMD-list-line {
  padding-top: 0;
}

/* edit mode: collapse indicator */
.cm-gutterElement {
  font-size: 1.2rem !important;
  bottom: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
.cm-gutterElement * {
  display: none !important;
}
.cm-gutterElement:after, .CodeMirror-foldgutter-folded:after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
  content: "\f105";
  color: var(--ayu-common-fg);
}

/* edit mode: collapse indicator */
.CodeMirror-foldgutter-open:after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
  content: "\f107";
  color: var(--ayu-common-fg);
}

/* preview mode: collapse indicator: remove default svg */
.markdown-preview-view .collapse-indicator:not(.list-collapse-indicator) svg {
  display: none;
  z-index: -1;
}

/* preview mode: collapse indicator (except lists): folded */
.markdown-preview-view .collapse-indicator:not(.list-collapse-indicator):after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
  content: "\f107";
}
/* preview mode: collapse indicator (except lists): unfolded */
.markdown-preview-view
  .is-collapsed
  .collapse-indicator:not(.list-collapse-indicator):after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
  content: "\f105";
}

/* overrides for headings */
.heading-collapse-indicator {
  width: 1.5rem !important;
  /* margin-left: -50px !important; */
  font-size: calc(min(1.5rem, 0.9em)) !important;
  box-sizing: content-box;
  padding-right: 1rem !important;
  padding-left: 0px !important;
}
.is-mobile .heading-collapse-indicator {
  margin-left: 0px !important;
  padding-right: 1rem !important;
}
.heading-collapse-indicator:after {
  display: inline-block !important;
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
  transform: rotate(0deg) !important;
}
h1 > .heading-collapse-indicator:after {
  content: "\f313" !important;
}
h2 > .heading-collapse-indicator:after {
  content: "\f314" !important;
}
h3 > .heading-collapse-indicator:after {
  content: "\f315" !important;
}
h4 > .heading-collapse-indicator:after {
  content: "\f86a" !important;
}
h5 > .heading-collapse-indicator:after {
  content: "\f1dc" !important;
}
h6 > .heading-collapse-indicator:after {
  content: "\f1dc" !important;
}
.is-collapsed .heading-collapse-indicator:after {
  content: "\e0a3" !important;
}

/* unordered */

/* remove default bullets */
ul > li {
  list-style: none;
}

ul > li {
  position: relative;
}

/* line */
ul > li:before {
  content: "";
  border-left: 1px solid var(--ayu-common-ui);
  position: absolute;
  left: -1em;
  height: 100%;
  z-index: 0;
}

/* bullets */
ul > li:after {
  content: "•";
  position: absolute;
  left: -1.08em;
  top: 0;
  z-index: 1;
  font-size: 1.25em;
}

/* collapsed bullets */
ul > li.is-collapsed:after {
  content: "⦿";
  left: -1.1em;
}

/* remove default collapse indicator icon */
.markdown-preview-view .list-collapse-indicator svg {
  display: none;
  z-index: -1;
}

/* move collapse indicator area to around bullet */
.markdown-preview-view .list-collapse-indicator {
  width: 1em;
  height: 1em;
  position: absolute;
  font-size: 1.25em;
  left: -1.08em;
  top: 0;
  z-index: 2;
  padding: 0;
  margin-left: 0px;
}

/* cut line to start in first bullet */
ul > li:first-child::before {
  top: 14px;
}

/* cut line to end in last bullet */
ul > li:last-child::before {
  height: 12px;
}

/* if only child, remove the line */
ul > li:first-child:last-child::before {
  height: 0px !important;
}
